* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  background: url(../pictures/candy-crush.jpg) no-repeat bottom fixed;
  background-size: cover;
  font-family: "DM Sans", sans-serif;
}
#fire-work-bg {
  width: 100%;
  height: 100vh;
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  font-size: 50px;
  display: none;
}

#fire-work-bg button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  width: 10rem;
  height: 4rem;
  padding: 1rem;
  margin-top: 2rem;
  background-color: white;
  color: black;
  font-weight: bold;
  font-family: inherit;
  font-size: 1.5rem;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
}

#fire-work-bg button:hover {
  background-color: #c63a80;
  color: white;

}

.wrapper {
  padding-top: 2rem;
  width: 75%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.white-logo {
  width: 20%;
}

.info {
  margin-top: 2rem;
  width: 60%;
  font-size: 0.8rem;
  color: white;
  padding: 1rem;
  border-radius: 10px;
  background-color: #3596b17e;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.gameContainer {
  padding-top: 3rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.grid {
  background-color: rgba(255, 255, 255, 0.6);
  padding: 2rem;
  border-radius: 10px;
  min-width: 400px;
  min-height: 400px;
  width: 40%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.grid div {
  width: 12.5%;
  background-position: center;
  background-size: cover;
}

h1 {
  font-size: 45px;
}

.scoreContainer {
  background: linear-gradient(#e996c1, #ff77bc);
  background-color: #ff77bc;
  color: white;
  border-radius: 10px;
  font-weight: 700;
  height: 7rem;
  padding: 2rem;
  margin: 0 8rem 0 0;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
p {
  font-size: 40px;
}

#cover {
  width: 100%;
  height: 100vh;
  background: linear-gradient(#f7f7f7, #b3b3b3);
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#cover img {
  width: 600px;
}
